/*In the Header*/
header {
  background: #f2f6fa;
  height: 150px;
  margin-top: auto;
  margin-bottom: 40px;
}
/*End of header*/

body {
    background: #f2f6fa;
}

/*My Name plus a Photo of myself*/
body header h1 {
  font: Arial;
  font-size: 80px;
  margin-left: 40px;
  margin-top: 40px;
  color: #45ADA8;
}

body header p {
  font-family: serif;
  font-weight: bold;
  margin-left: 180px;
}

.selfie {
  position: absolute;
  z-index: 10;
  margin-left: 90px;
  border-style: solid;
  border-width: thin;
}

main img {
  display: block;
  margin: 30px auto;
  margin-bottom: 20px;
}

/*Here are a couple of lists. One ordered list and one unordered list.*/

.unordered h2 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.unordered {
  float: left;
  display: block;
  text-align: left;
  margin-left: 450px;
  border-style: inset;
  width: 260px;
  height: 200px;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 40px;
  overflow: auto;
}

.ordered h3 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.ordered {
  float: right;
  text-align: left;
  display: block;
  border-style: inset;
  width: 600px;
  height: 200px;
  margin-left: 100px;
  margin-right: 450px;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 40px;
  overflow: auto;
}

footer {
  clear: both;
  background: #444;
  height: 100px;
}
